<div class="hero-unit">
<h1>WELCOME TO ONE MONTH RAILS MY WITCHES!</h1>
<p>
	You've found the home page for the
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	application. Good for you. 
</p>
<p> 
	<%= link_to "THOUGHT YOU KNEW! sign up now!", '#', class: "btn btn-primary btn-large" %>
<p>
</div>


